version: "3.8"
services:
  ghost:
    image: ghost:5
    container_name: miso-ghost
    environment:
      - NODE_ENV=development
      - url="http://localhost:3000"
      - database__connection__filename="content/data/ghost.db"
    volumes:
      - ./ghost_data:/var/lib/ghost/content
    ports:
      - "3000:2368"
    restart: unless-stopped
